<form class="form" [formGroup]="dataForm" (ngSubmit)="onPostData()">
  
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
  
    <label>
      Land:
      <input type="text" formControlName="country">
    </label>

    <button type="submit">Abschicken</button>
  
  </form>
  <div class="data-list" *ngFor="let formPost of dataService.testData">
    <span *ngIf="formPost.sync" style="color: red; margin-right: 5px;">(Ist online)</span>
      <span style="margin-right: 4px;">Name: {{ formPost.name }}</span>
      <span>Land: {{ formPost.country }}</span>
  </div>

  <button (click)="getFormData()"></button>